
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background: #dadada;
}

/* nav Section  */

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: #fff;
}

.nav-country{
    display:flex;
    align-items: end;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1{
    color: #fff;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-categorey{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;

}

.nav-search-input{
    border: none;
    outline:none;
    padding-left:20px ;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}


.nav-lang{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;

}

.nav-text{
    margin-left: 15px;

}

.nav-text p{
    font-size: 10px;
}

.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0 15px;

}


/* small/sub nav section  */

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e ;
    color: #fff;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;

}

/* Header Slider  */

.header-slider ul{
    display: flex;
    overflow-y: hidden;
}

.slider-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);



}

.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background-color: #ffffff4f;
    color: #0000007b;
    font-weight: 600;
    cursor: pointer;
}

.Control_next{
    right: 0;
}

/* Box Row  */

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: #fff;
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
}

.box-col a{
    font-size: 13px;
    color: #009999 ;
    font-weight: 500;
}

.header-box{
    margin-top: -20vw;
}


/* Product Slider  */
.product-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.product-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
}
.product-slider .products::-webkit-scrollbar{
    display: none;
}

.product-slider-with-price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
}

.product-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.product-slider-with-price .products.products::-webkit-scrollbar{
    display: none;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 210px;
    background: #fbfbfb;
}




